body{
     margin: 0;
	 font-family: sans-serif;
}

#btn-menu{
     display: none;
}

header{
    background-color: #2f2f2f;
}

header label{
     color: #efefef;
	 font-size: 25px;
	 display: block;
	 padding: 5px 10px;
	 width: 20px;
	 border-right: 1px solid #efefef;
	 display: none;
}

header label:hover {
     background-color: #ff5900;
}

.menu ul{
	List-style: none; 
	margin: 0;
	padding: 0; 
	display: flex;
}
	
.menu 1i a{ 
    color: #efefef;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	border-right: 1px solid #efefef;
}