<footer class="footer">
<div class="module-br">
	                					<div class="module-title"><div class="module-title2"><div class="module-title3">
	   
					</div></div></div>
	                					<div class="module-content">
<div class="custom">
	<div style="text-align: center;"><img src="https://image.flaticon.com/icons/png/128/240/240386.png" alt="doaes"></div>
<div style="text-align: center;">Doe qualquer quantia para contribuir com o sorteio de livros!</div>
<div style="text-align: center;">Doe com PagSeguro</div>
<div style="text-align: center;">OBS: <strong>Doação com PagSeguro</strong> a partir de R$ 1,00 + R$ 1,00 pela emissão do boleto que pode ser pago em qualquer agência bancária, ou nas lotéricas.</div>
<div>&nbsp;</div>
<div style="text-align: center;"><form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
<p><!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO --> <input name="currency" type="hidden" value="BRL"> <input name="receiverEmail" type="hidden" value="contato.lukasesoliveira@gmail.com"> <input name="iot" type="hidden" value="button"> <input alt="Pague com PagSeguro - é rápido, grátis e seguro!" name="submit" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/120x53-doar.gif" type="image"></p>
<p>OBS: <strong>Doação via Paypal</strong> Doar para contato.lukasesoliveira, Objetivo: Objetivo: Doações para sorteio de livros de RPG, @</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="KT3ZR7RJFPYKQ" />
<input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1" />
</form> <form
action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
<div>OBS: <strong>Doação via PicPay</strong> doe para @lukas.esoliveira<br><a href="https://github.com/bibliotecadruidica/bibliotecadruidica.github.io/blob/master/picpay.jpg?raw=true" target="_blank" rel="noopener noreferrer"><img src="https://github.com/bibliotecadruidica/bibliotecadruidica.github.io/blob/master/picpay.jpg?raw=true" alt="picpay" width="100" height="150"></a></div>
<div style="text-align: center;">
<div style="text-align: center;"><br>Caixinha Mensal: R$ 0,00</div>
<div style="text-align: center;">Caixinha Anual: R$ 0 (<img src="https://i.imgur.com/BJfpW8z.png" alt="c"> Kill me)</div>
<div style="text-align: center;">Recebidos em Abril: R$ 0</div>
<div style="text-align: center;"><span style="font-size: 12pt;"><strong>Recebidos no mês: R$ 00,00</strong></span></div>
<div style="text-align: center;"><img src="https://i.imgur.com/ypvl54q.png" alt="v"></div>
</div>
</form></div></div>
					</div>
				</div>
  <script type='text/javascript'>
function disableSelection(target){
if (typeof target.onselectstart!="undefined") //IE route
target.onselectstart=function(){return false}
else if (typeof target.style.MozUserSelect!="undefined") //Firefox route
target.style.MozUserSelect="none"
else //All other route (ie: Opera)
target.onmousedown=function(){return false}
target.style.cursor = "default"
}
</script>
</footer>
