<head>
<header>
	<div id="logo">
		Biblioteca Druídica
	</div>
	
	<nav>
		<ul>
			<li><a href="https://bibliotecadruidica.github.io/">Home</a></li>
			<li><a href="https://bibliotecadruidica.github.io/D&D5ED">D&D5ED</a></li>
			
		</ul>
	</nav>
</header>
<script>
window['CboxReady'] = function (Cbox) {
	Cbox('button', '6-823197-7eggj0');
}
</script>
<script src="https://static.cbox.ws/embed/1.js" async></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137841686-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137841686-1');
</script>
<script type='text/javascript'>
function disableSelection(target){
if (typeof target.onselectstart!="undefined") //IE route
target.onselectstart=function(){return false}
else if (typeof target.style.MozUserSelect!="undefined") //Firefox route
target.style.MozUserSelect="none"
else //All other route (ie: Opera)
target.onmousedown=function(){return false}
target.style.cursor = "default"
}
</script>

</head>
